@font-face {
  font-family: 'LuxuryArabic';
  src: url('./LuxuryArabic.woff2') format('woff2'),
       url('./LuxuryArabic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LuxurySans';
  src: url('./LuxurySans.woff2') format('woff2'),
       url('./LuxurySans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
